views/discussion.jade
extends layout

block content
    if discussion
      section.sidebar
        if discussion.locked
          h1.discussion__title#discussion__title.locked= discussion.title
        else
          h1.discussion__title#discussion__title= discussion.title
        span.discussion__startedby(data-id= discussion.moderator.id)#discussion__startedby= 'Started by ' + discussion.moderator.name
        a#info-icon.discussion__info-icon(href='#') Collapse info
        .discussion__description#discussion__description
          //p This is a short description of the discussion/event. Not too long, about 5-10 lines max.
          if(user && user.id == discussion.moderator.id)
            if discussion.locked
              a.discussion__lock.sidebar-button#discussion__lock(href='#' data-status='locked') Unlock
            else
              a.discussion__lock.sidebar-button#discussion__lock(href='#' data-status='open') Lock
            a.discussion__remove.sidebar-button(href='#') Remove
        ul#discussion__info.discussion__info
            li.discussion__info__item--date= moment(discussion.date).format("MMMM Do YYYY")
              li.discussion__info__item--nrofquestions#nrofquestions= discussion.questions.length + ' questions'
            li.discussion__info__item--participating#users_participating 0 users participating
        ul#discussion__userlist.discussion__userlist
         //
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/rob-rijken.jpg', alt='')
            span.discussion__user__username Rob Rijken
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/bram-de-nyn.jpg', alt='')
            span.discussion__user__username Bram De Nyn
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/joris-hens.jpg', alt='')
            span.discussion__user__username Joris Hens
            .cf
          li.discussion__user
            img.discussion__user__avatar(src='/images/users/didier-kerinckx.jpg', alt='')
            span.discussion__user__username Didier Kerinckx
            .cf
      section.content
        ul.questionlist#questionlist(data-id= discussion.id)
          if discussion.questions.length<1
            h3.error--noquestions#error--noquestion Be the first to ask a question
          else
          each question, nr in discussion.questions
            li.questionlist__listitem(data-id=question.id)
              .questionlist__item
                span.questionlist__item__nr= nr+1
                if(user && user.id == discussion.moderator.id)
                  a(data-id=question.id).delete_question Delete
                span.questionlist__item__question= question.title
                span.questionlist__item__askedby= 'Asked by ' + question.user.name
                .cf
              ul.question__replylist(data-id= question.id)
                  if question.comments.length<1
                   if discussion.locked
                   else
                    li.question__reply.error--nocomments Nothing here yet, be the first to leave a reply!
                  else
                  each comment in question.comments
                    li.question__reply(data-id=comment.id)
                      if(user && user.id == discussion.moderator.id)
                       a(data-id=comment.id).delete_comment Delete
                      img.question__reply__avatar(src= comment.user.picture, alt='')
                      span.question__reply__username= comment.user.name
                      p.question__reply__answer= comment.text
                      
                      
                  if discussion.locked
                   li.question__reply.error--nocomments The discussion is locked, you can't leave any more comments
                  else
                   if(user)
                    li.question__addreply
                      form(action='')
                        input.question__addreply__input(type='text')
                        button.question__addreply__button(type='submit') Send
                   else
                    form(action='')
        form.addquestion(action='')
         if discussion.locked
          h3.error The discussion is locked, you can't ask any more questions
         else
          if(user)
           input.addquestion__input#add-question__input(type='text')
           button.addquestion__submit#add-question__button(type='submit') Ask
          else
           h3.error You have te be logged in to ask a question or leave comments.
    else
        h3.error The discussion you requested does not exist or has been removed
      .cf        

views/html/discussion.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMD Café #2 - Campr</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,700,400' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
    <div class="headerwrapper">
       <header>
            <a href="#" class="logo">Quapp</a>
            <a href="#" class="burger" id="burger">Collapse menu</a>
            <nav class="menu" id="menu">
                <ul class="menu__list">
                    <li class="menu__list__item">
                        <a href="" class="menu__link--creatediscussion">Create Discussion</a>
                    </li>
                    <li class="menu__list__item">
                        <a href="" class="menu__link">Sign In</a>
                    </li>
                    <div class="cf"></div>
                </ul>
            </nav>
            <div class="cf"></div>
        </header>
   </div>
    <div class="container">
       
       <section class="sidebar">
            <h1 class="discussion__title">IMD Cafe #2 - Campr</h1>
            <span class="discussion__startedby">Started by Joris Hens</span>
            <a href="#" class="discussion__info-icon" id="info-icon">Collapse info</a>
            <ul class="discussion__info" id="discussion__info">
                <li class="discussion__info__item--date">26 March 2015</li>
                <li class="discussion__info__item--nrofquestions">5 questions</li>
                <li class="discussion__info__item--participating">7 users participating</li>
            </ul>
            <ul class="discussion__userlist" id="discussion__userlist">
                <li class="discussion__user">
                    <img class="discussion__user__avatar" src="../public/images/users/rob-rijken.jpg" alt="">
                    <span class="discussion__user__username">Rob Rijken</span>
                    <div class="cf"></div>
                </li>
                <li class="discussion__user">
                    <img class="discussion__user__avatar" src="../public/images/users/bram-de-nyn.jpg" alt="">
                    <span class="discussion__user__username">Bram De Nyn</span>
                    <div class="cf"></div>
                </li>
                <li class="discussion__user">
                    <img class="discussion__user__avatar" src="../public/images/users/joris-hens.jpg" alt="">
                    <span class="discussion__user__username">Joris Hens</span>
                    <div class="cf"></div>
                </li>
                <li class="discussion__user">
                    <img class="discussion__user__avatar" src="../public/images/users/didier-kerinckx.jpg" alt="">
                    <span class="discussion__user__username">Didier Kerinckx</span>
                    <div class="cf"></div>
                </li>
            </ul>
        </section>
       
       
        <section class="content">
            <ul class="questionlist">
                <li class="questionlist__listitem--collapsed">
                   <div class="questionlist__item">
                    <span class="questionlist__item__nr">1</span>
                    <span class="questionlist__item__question">Has anyone been as far as to even go want to do look more like?</span>
                    <span class="questionlist__item__askedby">Asked by Rob Rijken</span>
                    <div class="cf"></div>
                    </div>
                    <ul class="question__replylist">
                        <li class="question__reply">
                            <img src="../public/images/users/didier-kerinckx.jpg" alt="" class="question__reply__avatar">
                            <span class="question__reply__username">Didier Kerinckx</span>
                            <p class="question__reply__answer">You've got to be kidding me, I've been further even more decided to use even go need to do look more as anyone can. Can you really be far even as decided half as much to use go wish for that? My guess is that when one really been ar even as decided to use even go want, it is then that he has really been far even as decided to use even go want to do look more like. It's just common sense</p>
                        </li>
                        <li class="question__reply">
                            <img src="../public/images/users/rob-rijken.jpg" alt="" class="question__reply__avatar">
                            <span class="question__reply__username">Rob Rijken</span>
                            <p class="question__reply__answer">Ok, thanks.</p>
                        </li>
                        <li class="question__addreply">
                           <form action="">
                                <input type="text" class="question__addreply__input">
                                <button type="submit" class="question__addreply__button">Send</button>
                            </form>
                        </li>
                    </ul>
                </li>
                 <li class="questionlist__listitem">
                   <div class="questionlist__item">
                    <span class="questionlist__item__nr">2</span>
                    <span class="questionlist__item__question">How much input do you get from investors?</span>
                    <span class="questionlist__item__askedby">Asked by Matthias Christiaens</span>
                    <div class="cf"></div>
                     </div>
                </li>
                <li class="questionlist__item">
                    <span class="questionlist__item__nr">3</span>
                    <span class="questionlist__item__question">Whats up?</span>
                    <span class="questionlist__item__askedby">Asked by Bram De Nyn</span>
                    <div class="cf"></div>
                </li>
            </ul>
            <form class="addquestion" action="">
                <input type="text" class="addquestion__input">
                <button type="submit" class="addquestion__submit">Ask</button>
            </form>
        </section>
        <div class="cf"></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../public/javascripts/interaction.js"></script>
</body>
</html>
